In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2021-12-10 02:32:27,-46.1927,168.8643,61.48,37,59,7.58
1,1,Lasa,IT,2021-12-10 02:32:27,46.6166,10.7002,23.02,74,13,2.64
2,2,Dikson,RU,2021-12-10 02:32:29,73.5069,80.5464,-26.61,97,49,5.77
3,3,Baturaja,ID,2021-12-10 02:32:32,-4.1333,104.1667,77.74,90,98,4.50
4,4,Jucurutu,BR,2021-12-10 02:32:37,-6.0339,-37.0203,83.12,59,87,6.82

In [4]:
# get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2021-12-10 02:32:27,-46.1927,168.8643,61.48,37,59,7.58
1,1,Lasa,IT,2021-12-10 02:32:27,46.6166,10.7002,23.02,74,13,2.64
2,2,Dikson,RU,2021-12-10 02:32:29,73.5069,80.5464,-26.61,97,49,5.77
3,3,Baturaja,ID,2021-12-10 02:32:32,-4.1333,104.1667,77.74,90,98,4.50
4,4,Jucurutu,BR,2021-12-10 02:32:37,-6.0339,-37.0203,83.12,59,87,6.82

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Baturaja,ID,2021-12-10 02:32:32,-4.1333,104.1667,77.74,90,98,4.50
4,4,Jucurutu,BR,2021-12-10 02:32:37,-6.0339,-37.0203,83.12,59,87,6.82
5,5,Arraial Do Cabo,BR,2021-12-10 02:28:26,-22.9661,-42.0278,71.56,78,1,9.17
7,7,Rikitea,PF,2021-12-10 02:32:39,-23.1203,-134.9692,75.81,74,70,19.33
8,8,Caibarien,CU,2021-12-10 02:32:41,22.5206,-79.4669,70.92,77,26,11.65
12,12,Avarua,CK,2021-12-10 02:32:46,-21.2078,-159.7750,80.65,74,76,6.91
13,13,Ambon,ID,2021-12-10 02:29:11,-3.6954,128.1814,89.74,62,40,6.91
15,15,Hilo,US,2021-12-10 02:28:57,19.7297,-155.0900,81.28,38,90,6.91
27,27,Puerto Ayora,EC,2021-12-10 02:33:00,-0.7393,-90.3518,70.20,88,96,6.51
28,28,Port Alfred,ZA,2021-12-10 02:33:00,-33.5906,26.8910,70.11,94,44,6.20

In [11]:
preferred_cities_df.count()

City_ID       189
City          189
Country       188
Date          189
Lat           189
Lng           189
Max Temp      189
Humidity      189
Cloudiness    189
Wind Speed    189
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
3          Baturaja      ID     77.74  -4.1333  104.1667
4          Jucurutu      BR     83.12  -6.0339  -37.0203
5   Arraial Do Cabo      BR     71.56 -22.9661  -42.0278
7           Rikitea      PF     75.81 -23.1203 -134.9692
8         Caibarien      CU     70.92  22.5206  -79.4669
12           Avarua      CK     80.65 -21.2078 -159.7750
13            Ambon      ID     89.74  -3.6954  128.1814
15             Hilo      US     81.28  19.7297 -155.0900
27     Puerto Ayora      EC     70.20  -0.7393  -90.3518
28      Port Alfred      ZA     70.11 -33.5906   26.8910

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Baturaja,ID,77.74,-4.1333,104.1667,"HOTEL Sekar Sunja, Baturaja Timur, Ogan Komeri..."
4,Jucurutu,BR,83.12,-6.0339,-37.0203,Pousada Miike
5,Arraial Do Cabo,BR,71.56,-22.9661,-42.0278,Pousada Porto Praia
7,Rikitea,PF,75.81,-23.1203,-134.9692,People ThankYou
8,Caibarien,CU,70.92,22.5206,-79.4669,La Nena
12,Avarua,CK,80.65,-21.2078,-159.7750,Paradise Inn
13,Ambon,ID,89.74,-3.6954,128.1814,Swiss-Belhotel Ambon
15,Hilo,US,81.28,19.7297,-155.0900,Hilo Hawaiian Hotel
27,Puerto Ayora,EC,70.20,-0.7393,-90.3518,Finch Bay Galapagos Hotel
28,Port Alfred,ZA,70.11,-33.5906,26.8910,The Halyards Hotel

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [30]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))